@import "./public.less";
.admin {
  height: 100%;
  display: flex;
  flex-direction: row;
  aside {
    flex: none;
    width: 16%;
    background: #2a3542;

  }
  main {
    flex: auto;
    width: 70%;
    background-color: #EBEBEB;
  }
}
